<%= simple_form_for @restaurant do |f| %>
  <div class="form-group">
    <%= f.input :name, label: 'Nom du restaurant' %>
  </div>

  <div class="form-group">
    <%= f.input :address, label: 'Adresse' %>
  </div>

  <div class="form-group">
    <%= f.input :phone_number, label: 'Numéro de téléphone' %>
  </div>

  <div class="form-group">
    <%= f.input :category, label: 'Catégorie', collection: Restaurant::CATEGORIES, prompt: "Choisir une catégorie" %>
  </div>

  <div class="form-group">
    <%= f.button :submit, 'Modifier le Restaurant', class: 'btn btn-primary' %>
  </div>
<% end %>
