<h1>Liste des Restaurants</h1>

<div class="row">
  <% @restaurants.each do |restaurant| %>
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">
            <%= link_to restaurant.name, restaurant_path(restaurant), class: 'text-decoration-none' %>
          </h5>
          <p class="card-text"><strong>Adresse :</strong> <%= restaurant.address %></p>
          <p class="card-text"><strong>Catégorie :</strong> <%= restaurant.category %></p>

          <!-- Lien vers la page de détails du restaurant -->
          <%= link_to 'Détails', restaurant_path(restaurant), class: 'btn btn-secondary mt-3' %>

          <!-- Lien vers la page de création d'un commentaire -->
          <%= link_to 'Ajouter un commentaire', new_restaurant_rating_path(restaurant), class: 'btn btn-primary mt-3' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'Ajouter un nouveau restaurant', new_restaurant_path, class: 'btn btn-primary mt-4' %>
